<p><strong>Type :</strong> {{type}}</p>
<p><strong>Nom :</strong> {{nom}}</p>
<p><strong>Prénom :</strong> {{prenom}}</p>
<p><strong>Email :</strong> {{email}}</p>
<p><strong>Adresse :</strong> {{adresse}}</p>
<p><strong>Téléphone :</strong> {{telephone}}</p>

{{#if entreprise}}
<p><strong>Nom de l'entreprise :</strong> {{entreprise}}</p>
{{/if}}

<p><strong>Commentaire :</strong></p>
<p>{{commentaire}}</p>
