<p><strong>Type :</strong> {{type}}</p>
<p><strong>Nom et prénom :</strong> {{nom}}</p>
<p><strong>Numéro de téléphone :</strong> {{telephone}}</p>
<p><strong>Adresse :</strong> {{adresse}}</p>
<p><strong>Email :</strong> {{email}}</p>
<p><strong>Message :</strong></p>
<p>{{message}}</p>
