<p>Bonjour {{prenom}} {{nom}},</p>
<p>Nous avons bien reçu votre demande de devis :</p>
<p><strong>Type :</strong> {{type}}</p>

{{#if entreprise}}
<p><strong>Nom de l'entreprise :</strong> {{entreprise}}</p>
{{/if}}

<p><strong>Commentaire :</strong></p>
<p>{{commentaire}}</p>

<p>Nos équipes reviendront vers vous dans les plus brefs délais.</p>
<p>Merci de votre confiance.</p>

<p>Cordialement,</p>
<p><strong>Woods of the World</strong></p>
